:root {
  --background-color: hsl(220, 38%, 11%);
  --yellow: hsl(39, 83%, 81%);
  --dark-blue: hsl(225, 41%, 18%);
  --orange: hsl(22, 78%, 45%);
  --pink: hsl(11, 37%, 60%);
  --text-color: hsl(0, 0%, 96%);
  --white: rgb(233, 233, 233);
}

