button.int-nav-sect__join {
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 700;
  color: var(--orange);
  background-color: hsla(38, 100%, 96%, 0.9);
  padding: 0.3em 1.25em;
  border: 0;
  border-radius: 1rem;
}

.glow-effect {
  // Do not change, used for calculations
  --container-offset: 100px;
  --glow-line-thickness: 2px;
  --glow-line-length: 10px;
  --glow-blur-size: 5px;
  --animation-speed: 1200ms;
    
  position: relative;

  .glow {
    pointer-events: none;
    position: absolute;
    inset: calc(var(--container-offset) / -2);
    width: calc(100% + var(--container-offset));
    height: calc(100% + var(--container-offset));
    opacity: 0;
    // outline: 1px solid rgb(206, 0, 0);

    &__blur, &__line {
      width: calc(100% - var(--container-offset));
      height: calc(100% - var(--container-offset));
      x: calc(var(--container-offset) / 2);
      y: calc(var(--container-offset) / 2);
      // rx: 1rem;
      fill: transparent;
      stroke: rgb(222, 169, 105);
      stroke-width: 5px;
      stroke-dasharray: 
        var(--glow-line-length) calc(50px - var(--glow-line-length));
    }

    &__blur {
      -webkit-filter: blur(var(--glow-blur-size));
      filter: blur(var(--glow-blur-size));
      stroke: var(--white);
      stroke-width: var(--glow-blur-size);
    }

    &__line {
      stroke: var(--white);
      stroke-width: var(--glow-line-thickness);
    }
  }
}

.glow-effect:is(:hover, :focus) :is(.glow__line, .glow__blur){
  stroke-dashoffset: -100px;
  transition: 
    stroke-dashoffset 
    var(--animation-speed)
    ease-in;
}

.glow-effect:is(:hover, :focus) .glow{ 
  animation: glow-visibility var(--animation-speed);
}

@keyframes glow-visibility {
  0%, 100% { opacity: 0;}
  25%, 75% { opacity: 1;}
  // 75% { opacity: 1;}
  // 100% { opacity: 0;}
  
}